*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat ;
}
nav {
    background-color: rgb(12, 50, 219);
    height: 80px;
    width: 100%;
}
label.logo{
    color: crimson;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
   margin-right: 20px;

}
nav ul li{
display: inline-block;
margin:0 5px ;
line-height: 80px;

}
nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 17px;
    transform: uppercase;
    padding: 7px 13px;
}
a:hover{
    background-color: crimson;
}
.checkbtn{
    font-size: 30px;
    color: rgb(202, 18, 18);
    
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;    
}
